In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns

In [16]:
ks = pd.read_csv('ks-projects-201801.csv')

In [17]:
ks.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [18]:
ks.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

In [19]:
cat = ks.groupby('main_category')

In [32]:
art = ks[ks['main_category'] == 'Art']
com = ks[ks['main_category'] == 'Comics']
craf = ks[ks['main_category'] == 'Crafts']
dan = ks[ks['main_category'] == 'Dance']
des = ks[ks['main_category'] == 'Design']
fas = ks[ks['main_category'] == 'Fashion']
fiv = ks[ks['main_category'] == 'Film & Video']
food = ks[ks['main_category'] == 'Food']
gam = ks[ks['main_category'] == 'Games']
jou = ks[ks['main_category'] == 'Journalism']
mus = ks[ks['main_category'] == 'Music']
pho = ks[ks['main_category'] == 'Photography']
pub = ks[ks['main_category'] == 'Publishing']
tec = ks[ks['main_category'] == 'Technology']
the = ks[ks['main_category'] == 'Theatre']

In [33]:
art.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,2.815300e+04,2.815300e+04,2.815300e+04,28153.000000,2.815300e+04,2.815300e+04,2.815300e+04
mean,1.077788e+09,4.082918e+04,3.606970e+03,42.205094,2.534057e+03,3.220987e+03,3.919858e+04
std,6.212249e+08,1.330641e+06,3.200667e+04,213.651155,1.440590e+04,2.185527e+04,1.311762e+06
min,2.110900e+04,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.392627e+08,1.000000e+03,2.900000e+01,2.000000,1.412000e+01,2.900000e+01,1.000000e+03
50%,1.076834e+09,3.000000e+03,4.240000e+02,10.000000,2.710000e+02,4.220000e+02,3.000000e+03
75%,1.615603e+09,7.500000e+03,2.395000e+03,38.000000,1.885000e+03,2.392000e+03,7.500000e+03
max,2.147460e+09,1.000000e+08,3.112511e+06,22834.000000,1.226811e+06,1.924018e+06,1.000000e+08