In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
from datetime import datetime

In [3]:
ks = pd.read_csv('ks-projects-201801.csv')

In [4]:
ks.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [5]:
#ks.describe()

In [59]:
art = ks[ks['main_category'] == 'Art']
com = ks[ks['main_category'] == 'Comics']
craf = ks[ks['main_category'] == 'Crafts']
dan = ks[ks['main_category'] == 'Dance']
des = ks[ks['main_category'] == 'Design']
fas = ks[ks['main_category'] == 'Fashion']
fiv = ks[ks['main_category'] == 'Film & Video']
food = ks[ks['main_category'] == 'Food']
gam = ks[ks['main_category'] == 'Games']
jou = ks[ks['main_category'] == 'Journalism']
mus = ks[ks['main_category'] == 'Music']
pho = ks[ks['main_category'] == 'Photography']
pub = ks[ks['main_category'] == 'Publishing']
tec = ks[ks['main_category'] == 'Technology']
the = ks[ks['main_category'] == 'Theatre']

In [86]:
ks['launched'] = pd.to_datetime(ks.launched)

TypeError: descriptor 'date' requires a 'datetime.datetime' object but received a 'list'

In [87]:
ks['deadline'] = pd.to_datetime(ks.deadline)

In [88]:
print(type(ks['launched']))

<class 'pandas.core.series.Series'>

In [34]:
#art.describe()

In [89]:
df = pd.DataFrame({'Duration': (abs(ks.deadline-ks.launched))})
pd.Series.dt.days

In [90]:
ks['Duration'] = df['Duration']

In [55]:
#ks1 = ks.sort_values('launched')

plot the length of thing against the number of pledges ?

In [61]:
#sns.jointplot(data=tec, x='backers', y='Duration', kind='kde')